@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    margin: 70px auto;
    max-width: $width;
}

section {
    margin-bottom: 45px;
}

.intro {
    grid-column-gap: 18px;
    display: flex;
}

.work, .education {
    margin-top: 70px;
}