@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@font-face {
    font-family: "soehne";
    src: url("../fonts/soehne-buch.woff2") format('woff');
  }

@font-face {
    font-family: "soehne";
    src: url("../fonts/soehne-buch-kursiv.woff2") format('woff');
    font-style: italic;
  }
  
@font-face {
    font-family: "soehne";
    src: url("../fonts/soehne-dreiviertelfett.woff2") format('woff');
    font-weight: bold;
  }
  
@font-face {
    font-family: "soehne";
    src: url("../fonts/soehne-dreiviertelfett-kursiv.woff2") format('woff');
    font-weight: bold;
    font-style: italic;
  }

body {
    font-family: "soehne", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: $gray-60;
    letter-spacing: .45px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
  }

  h1 {
    font-size: 21px;
  }

  h1, h3 {
    color: $gray-90;
  }